body {
    repeat-x: url(https://www.nnn.ed.nico/pages_assets/images/logo-a7d3acbeb246140a052f3576ce162e5d.svg);
    opacity: 0.8s;
   
    color: #FDFFFF;
    width: 500px;
    margin-right: auto;
    margin-left : auto;
}
button {
    padding: 5px 20px;
    background-color: #337AB7;
    color: #FDFFFF;
    border-color: #2E6DA4;
    border-style: none;
}
input {
    height: 20px;
}
